html body {
    margin: 0;
    padding: 0;
    color: #3a3d45;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 38px;
}

#header {
    background-color: #0f1621;
    color: #fff;
}
